table {
    width: 100%;
}

p {
    margin: 0.2em 0 0.2em 0;
}

h2 {
    margin-bottom: 0.3em;
}

.horizontal_container, .items_container, .explain, .share_container, .input_container {
    margin-left: 20px;
}

.search_bar {
    margin-left: 20px;
    margin-top: 20px;
    width: 860px;

    #search {
        padding: 5px 10px;
        font-size: 1.2em;
        
        width: 100%;
    }

    .search_results {
        position: absolute;

        width: 860px;
        z-index: 5;

        background-color: var(--bs-tertiary-bg);
        border: 1px solid #3f3f3f;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        padding: 10px;
        max-height: 200px;
        overflow-y: auto;

        .result {
            padding: 5px;
            margin-bottom: 5px;
            border: none;
            background-color: transparent;

            #type {
                font-weight: bold;

                transition: .1s;
                margin-right: 30px;
            }
        }

        .result:hover {
            background-color: var(--bs-secondary-bg);
            cursor: pointer;

            #type {
                font-weight: bold;

                margin-right: 40px;
            }
        }
    }

    .search_results:empty {
        display: none;
    }
}



.output_container {
    display: flex;

    align-items: flex-start;
    flex-direction: row;
}


.items_container {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;

    min-width: 420px;

    border: 1px solid #3f3f3f;
    border-radius: 5px;

    background-color: var(--bs-secondary-bg);

    width: fit-content;

    transition: .1s;

    & > label {
        margin-bottom: 10px;
        font-size: 1.2em;

        align-self: center;
    }

    & > button {
        margin-top: 3px;
    }
}

.items {
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: flex-start;
    align-items: center;
}

.resource {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    border: 1px solid #3f3f3f;
    border-radius: 5px;

    background-color: var(--bs-tertiary-bg);

    width: 400px;

    transition: .1s;

    label {
        width: 200px;
    }

    input {
        width: 140px;
        padding: 5px;
    }

    button {
        background-color: var(--bs-tertiary-bg);
        border: none;
    }

    &:hover {
        transform: scale(1.02, 1.02);
    }

    &:focus-within {
        transform: scale(1.04, 1.04);
    }
}

.func_container {
    display: flex;
    margin-top: 3px;

    & > button {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;

        width: 100%;
    }

    & > div > a {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .dropdown-menu {
        padding: 5px;

        overflow-y: scroll;
        max-height: 300px;

        &::-webkit-scrollbar {
            width: 12px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 8px;
        }

        &::-webkit-scrollbar-track {
            background-color: rgba(255, 255, 255, 0.1);
        }

        .dropdown-item-text {
            font-size: 1.2em;
            margin-bottom: 5px;
            text-align: center;
        }

        .btn-choose {
            width: 100%;

            text-align: left;
        }
    }
}


.output_resource {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    border: 1px solid #3f3f3f;
    border-radius: 5px;

    background-color: var(--bs-tertiary-bg);

    width: 400px;

    padding: 6px 12px;
}

.output_resource.changed {
    animation: changed 5s;
}

@keyframes changed {
    0% {
        background-color: var(--bs-tertiary-bg);
    }
    5% {
        background-color: var(--bs-orange);
    }
    100% {
        background-color: var(--bs-tertiary-bg);
    }
}

.output_resource.deleted {
    animation: deleted 1s;
}

@keyframes deleted {
    0% {
        background-color: var(--bs-tertiary-bg);
    }
    5% {
        background-color: var(--bs-red);
    }
    100% {
        background-color: var(--bs-tertiary-bg);
    }
}


.share_container {
    margin-top: 30px;

    display: flex;
    flex-direction: row;
    gap: 5px;

    button {
        width: 26px;
        height: 26px;
        padding: 4px;

        display: flex;
        align-items: center;

        min-height: 0px;
    }

    #liveUpdate[state="false"] {
        background-color: var(--bs-btn-disabled-bg);
        opacity: var(--bs-btn-disabled-opacity);
    }
}

@media (max-width: 900px) {
    .search_bar {
        width: 100%;
        margin-left: 10px;

        #search {
            width: calc(100% - 20px);
        }
    }

    .output_container {
        flex-direction: column;

        width: 100%;
    }

    .items_container {
        min-width: 0px;
        width: calc(100% - 20px);

        margin: 10px;

        .resource {
            width: 100%;
        }

        .output_resource {
            width: 100%;
        }
    }
}